@model WarehouseModel

@{
    ViewData["Title"] = Model.warehouseInfoModelObj.W_Name;
}



<header>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <div class="container">
            <img class="navbar-img mx-3" src="~/images/logo.jpg" alt="no_logo">
            <div class="navbar-brand">MTM Warehouse</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="HomePage" class="nav-link mx-4"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Action" asp-action="ListActions" class="nav-link mx-4"><strong>Actions</strong></a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Action" asp-action="ReportPage" class="nav-link mx-4"><strong>Reports</strong></a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-controller="Login" asp-action="LogOut" method="post">
                            <input type="submit" class="btn btn-outline-danger btn-sm btn-floating mx-4 p-2" value="Logout" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



<section class="bg-dark p-2 text-light border-3">
    <div class="card mb-3 border-4">
        <div class="row g-0 align-items-center bg-dark">

            <div class="col-4 px-5">
                <div class="card-body p-0">
                    <h5 class="card-title fs-3">@ViewData["Title"]</h5>
                    <p class="card-text">
                        <i class="fas fa-map-marker-alt"></i> @Model.warehouseInfoModelObj.W_Location
                    </p>

                </div>
            </div>

            <div class="col-4 p-0 justify-content-center">
                <div class="card-body" style="padding: 2px;">
                    <p class="card-text">Total Capacity : @Model.warehouseInfoModelObj.W_TotalCapacity Sq.Ft</p>
                    <p class="card-text">Avalilable : @Model.warehouseInfoModelObj.W_SpaceAvailable Sq.Ft</p>
                    <p class="card-text">Percent Occupied : @Model.warehouseInfoModelObj.W_PercentFull &permil;</p>
                </div>
            </div>

            <div class="col-4 d-flex justify-content-end px-5">
                <img src="~/images/W-graphic.jpg" class="img-fluid rounded-start" style="width: 150px; height: 150px; padding: 0;">
            </div>


        </div>
    </div>
</section>

<div class="container mb-0">
    <div class="d-sm-flex align-items-center justify-content-end p-3 mb-0">
        <a asp-controller="Home" asp-action="HomePage" class="btn btn-secondary btn-sm btn-floating col-2"><strong>Back</strong></a>
    </div>
</div>


@if (TempData.ContainsKey("LastActionMessage"))
{
    <div class="container px-5">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["LastActionMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>    
}

<div class="container">

    <div class="container my-1">
        <div class="row g-auto mx-auto my-5 justify-content-center">

            <!-- Card 1: Total Managers -->
            <div class="col-12 mb-3">
                <div class="card ">
                    <div class="row g-0">
                        <div class="col-3 p-0">
                            <div class="card-body p-1">
                                <h5 class="card-title text-center text-info text-white bg-dark p-3 m-0"><strong>Managers</strong></h5>
                            </div>
                        </div>

                        <div class="col-5 p-0">
                            <div class="card-body p-1">
                                <p class="card-text text-center m-0 p-0 fs-6"><strong>Total managers assigned to this warehouse</strong></p>
                                <p class="card-text text-center m-0 p-0 fs-6"><strong class="px-5 fs-6 badge bg-success rounded-pill"> @Model.loginEmpModelObj.Count </strong></p>
                            </div>
                        </div>

                        <div class="col-4 p-0  row g-1">
                            <div class="card-body p-1 align-items-center col-6" style="height: 100%;">
                                <a asp-controller="Warehouse" asp-action="AddManagerPage" asp-route-id="@Model.warehouseInfoModelObj.WarehouseInfoId" class="col-12  btn btn-outline-primary btn-sm btn-floating" role="button"><strong class="fs-6">Add manager</strong></a>
                            </div>
                            <div class="card-body p-1 align-items-center col-6" style="height: 100%;">
                                <a asp-controller="Warehouse" asp-action="ViewManagerPage" asp-route-id="@Model.warehouseInfoModelObj.WarehouseInfoId" class="col-12 btn btn-outline-info btn-sm btn-floating" role="button"><strong class="fs-6 ">View manager</strong></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Card 2: Total Employees -->
            <div class="col-12 mb-3">
                <div class="card ">
                    <div class="row g-0">
                        <div class="col-3 p-0">
                            <div class="card-body p-1">
                                <h5 class="card-title text-center text-info text-white bg-dark p-3 m-0"><strong>Employees</strong></h5>
                            </div>
                        </div>

                        <div class="col-5 p-0 ">
                            <div class="card-body p-1">
                                <p class="card-text text-center fs-6 m-0 p-0"><strong>Total employees working at this warehouse</strong></p>
                                <p class="card-text text-center fs-6 m-0 p-0 "><strong class="px-5 fs-6 badge bg-success rounded-pill"> @Model.empDataModelObj.Count </strong></p>
                            </div>
                        </div>

                        <div class="col-4 p-0 row g-1">
                            <div class="card-body p-1 align-items-center col-6" style="height: 100%;">
                                <a asp-controller="Warehouse" asp-action="AddEmployeePage" asp-route-id="@Model.warehouseInfoModelObj.WarehouseInfoId" class="col-12 btn btn-outline-primary btn-sm btn-floating" role="button"><strong class="fs-6 col-12">Add Employees</strong></a>
                            </div>
                            <div class="card-body p-1 align-items-center col-6" style="height: 100%;">
                                <a asp-controller="Warehouse" asp-action="ViewEmployeePage" asp-route-id="@Model.warehouseInfoModelObj.WarehouseInfoId" class="col-12 btn btn-outline-info btn-sm btn-floating" role="button"><strong class="fs-6 ">View Employees</strong></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Card 3: Items -->
            <div class="col-12 mb-3">
                <div class="card ">
                    <div class="row g-0">
                        <div class="col-3 p-0">
                            <div class="card-body p-1">
                                <h5 class="card-title text-center text-info text-white bg-dark p-3 m-0"><strong>Items</strong></h5>
                            </div>
                        </div>

                        <div class="col-5 p-0 ">
                            <div class="card-body p-1">
                                <p class="card-text text-center fs-6 m-0 p-0"><strong>Total items present in this warehouse</strong></p>
                                <p class="card-text text-center fs-6 m-0 p-0 "><strong class="px-5 fs-6 badge bg-success rounded-pill"> @Model.allItemsModelObj.Count </strong></p>
                            </div>
                        </div>

                        <div class="col-4 p-0 row g-1">
                            <div class="card-body p-1 align-items-center col-6" style="height: 100%;">
                                <a asp-controller="Warehouse" asp-action="AddItemPage" asp-route-id="@Model.warehouseInfoModelObj.WarehouseInfoId" class="col-12 btn btn-outline-primary btn-sm btn-floating" role="button"><strong class="fs-6">Add items</strong></a>
                            </div>
                            <div class="card-body p-1 align-items-center col-6" style="height: 100%;">
                                <a asp-controller="Warehouse" asp-action="ViewItemsPage" asp-route-id="@Model.warehouseInfoModelObj.WarehouseInfoId" class="col-12 btn btn-outline-info btn-sm btn-floating" role="button"><strong class="fs-6 ">View Items</strong></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>




