@model DownloadReportViewModel

<header>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <div class="container">
            <img class="navbar-img mx-3" src="~/images/logo.jpg" alt="no_logo">
            <div class="navbar-brand">MTM Warehouse</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="HomePage" class="nav-link mx-4"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Action" asp-action="ListActions" class="nav-link mx-4"><strong>Actions</strong></a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Report" asp-action="ReportPage" class="nav-link mx-4"><strong>Reports</strong></a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-controller="Login" asp-action="LogOut" method="post">
                            <input type="submit" class="btn btn-outline-danger btn-sm btn-floating mx-4 p-2" value="Logout" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<section class="bg-dark text-light p-2 text-sm-start mb-2 ">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">

            <div class="container  col-3 mx-2 p-1 ">
                <h1 class="text-center fs-2 m-0 " style="color: yellowgreen">Downloads</h1>
            </div>

            <div class="col-3 p-1">
                <img class="img-fluid rounded img-thumbnail" style="height: 100px; width:100px" src="~/images/reports.jpg">
            </div>

        </div>
    </div>
</section>



<div class="container mt-5">
    <div class="row mb-4 align-content-center ">
        <div class="col-md-2">
            <form asp-controller="Report" asp-action="DownloadWarehouseReport" method="get">
                <button type="submit" class="btn btn-success btn-block">Download</button>
            </form>
        </div>
        <div class="col-md-6">
            <p class="pt-2"> a comprehensive report containing data for all warehouses.</p>
        </div>
    </div>

    <div class="">
        <form asp-controller="Report" asp-action="DownloadItemsReport" method="get" class="row mb-4 align-content-center">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-block">Download</button>            
            </div>
            <div class="col-md-6">
                <p class="pt-2">a detailed report of all items stored in a specific warehouse.</p>
            </div>
            <div class="col-md-3">
           
                    <select id="itemsWarehouseDropdown" name="warehouseId" class="form-control mb-2">
                        <option value="">Select a Warehouse...</option>
                        @foreach (var warehouse in Model.warehouseInfo)
                        {
                            <option value="@warehouse.WarehouseInfoId">@warehouse.W_Name</option>
                        }
                    </select>
            </div>
        </form>
    </div>

    <div class="row mb-4 align-content-center ">
        <div class="col-md-2">
            <form asp-controller="Report" asp-action="DownloadManagersReport" method="get">
                <button type="submit" class="btn btn-success btn-block">Download</button>
            </form>
        </div>
        <div class="col-md-6">
            <p class="pt-2">a report containing information on all managers across various warehouses.</p>
        </div>
    </div>

    <div class="">
        <form asp-controller="Report" asp-action="DownloadEmployeeReport" method="get" class="row mb-4 align-content-center">
            <div class="col-md-2 align-content-center">
                <button type="submit" class="btn btn-success btn-block">Download</button>
            
            </div>
            <div class="col-md-6">
                <p class="pt-2">a report of all employees working in that specific warehouse.</p>
            </div>
            <div class="col-md-3">
            
                    <select id="employeesWarehouseDropdown" name="warehouseId" class="form-control mb-2">
                        <option value="">Select a Warehouse...</option>
                        @foreach (var warehouse in Model.warehouseInfo)
                        {
                            <option value="@warehouse.WarehouseInfoId">@warehouse.W_Name</option>
                        }
                    </select>            
            </div>
        </form>
    </div>
</div>


@* <div class="container m-5 m-auto">
    <div class="container">
        <form asp-controller="Report" asp-action="DownloadWarehouseReport" method="get">
            <button type="submit" class="btn btn-success">Download Report for All Warehouses</button>
        </form>
    </div>
    <div class="container">
        <form asp-controller="Report" asp-action="DownloadItemsReport" method="get">
            <label for="warehouseDropdown">Select Warehouse:</label>
            <select id="warehouseDropdown" name="warehouseId" class="form-control">
                <option value="">Select a Warehouse...</option>
                @foreach (var warehouse in Model.warehouseInfo)
                {
                    <option value="@warehouse.WarehouseInfoId">@warehouse.W_Name</option>
                }
            </select>
            <button type="submit" class="btn btn-primary mt-2">Download Items Report</button>
        </form>
    </div>
    <div class="container">
        <form asp-controller="Report" asp-action="DownloadManagersReport" method="get">
            <button type="submit" class="btn btn-primary">Download All Managers Report</button>
        </form>

    </div>
    <div class="container">
        <form asp-controller="Report" asp-action="DownloadEmployeeReport" method="get">
            <label for="warehouseDropdown">Select Warehouse:</label>
            <select id="warehouseDropdown" name="warehouseId" class="form-control">
                <option value="">Select a Warehouse...</option>
                @foreach (var warehouse in Model.warehouseInfo)
                {
                    <option value="@warehouse.WarehouseInfoId">@warehouse.W_Name</option>
                }
            </select>
            <button type="submit" class="btn btn-primary mt-2">Download Employees Report</button>
        </form>
    </div>
</div> *@


@* <form asp-controller="Report" asp-action="DownloadWarehouseReport" method="get">
    <select asp-for="SelectedWarehouseId" asp-items="@(new SelectList(ViewBag.WarehouseInfo, "WarehouseInfoId", "W_Name"))" class="form-control">
        <option value="">Select a Warehouse...</option>
        @foreach (WarehouseInfo info in Model.warehouseInfo)
        {
            <option value="@info.WarehouseInfoId">@info.W_Name</option>
        }
    </select>
    <button type="submit" class="btn btn-primary">Download Report</button>
</form> *@