@model List<WarehouseInfo>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager


@{
    var isWareHousePresent = false;

    if(Model[0].WarehouseInfoId > 0)
    {
        isWareHousePresent = true;
    }
    var counter = 0;
}

<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
    <div class="container">
        <img class="navbar-img mx-3" src="~/images/logo.jpg" alt="no_logo">
        <div class="navbar-brand">MTM Warehouse</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (_signInManager.IsSignedIn(User))
        {
            <div class="justify-content-center px-5"><spap class="mx-5 text-white">Hello! @User.Identity.Name</spap></div>
        }
        @* <div class="justify-content-center px-5"><spap class="mx-3 text-primary ">Hello! @ViewBag.Name</spap></div> *@
        
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="HomePage" class="nav-link mx-4"><strong>Home</strong></a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Action" asp-action="ListActions" class="nav-link mx-4"><strong>Actions</strong></a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Report" asp-action="ReportPage" class="nav-link mx-4"><strong>Reports</strong></a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-controller="Login" asp-action="LogOut" method="post">
                        <input type="submit" class="btn btn-outline-danger btn-sm btn-floating mx-4 p-2" value="Logout" />
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>



@if (TempData.ContainsKey("LastActionMessage"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["LastActionMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if (!isWareHousePresent)
{
    <div class="container my-5">
        <div class="no-item-message text-center ">
            <p>You don't have anything to view.</p>
            <p>Start by adding warehouse.</p>
            <p>Go to <strong>Actions</strong> page</p>
        </div>
    </div>
}
else
{
    
    <div class="container">

        <div class="container mt-4">
            <h4 class="text-center mb-4 bg-dark text-white ">All Warehouse</h4>
        </div>

    </div>


    <div class="container mt-5">

        @foreach(var warehouse in Model)
        {
            counter++;

            <div class="card mb-3">
                <div class="row g-0 align-items-center">
                    <div class="col-1" style="padding: 0;">
                        <p class="card-text text-center" style="padding: 0;"> <span class="badge bg-success rounded-pill fs-3 text-center p-3">@counter</span></p>
                    </div>

                    <div class="col-2 align-items-start p-0">
                        <img src="~/images/W-graphic.jpg" class="img-fluid rounded-start" style="width: 100px; height: 100px; padding: 0;">
                    </div>

                    <div class="col-5 p-0">
                        <div class="card-body p-0">
                            <h5 class="card-title">@warehouse.W_Name</h5>
                            <p class="card-text">
                                <i class="fas fa-map-marker-alt"></i> @warehouse.W_Location
                            </p>

                        </div>
                    </div>

                    <div class="col-4 p-0">
                        <div class="card-body" style="padding: 2px;">
                            <p class="card-text">Capacity : @warehouse.W_TotalCapacity Sq.Ft</p>
                            <a asp-controller="Warehouse" asp-action="OpenWarehouse" asp-route-id="@warehouse.WarehouseInfoId" class="btn btn-outline-success btn-sm btn-floating mx-4 p-2">View Warehouse</a>
                        </div>
                    </div>

                </div>
            </div>
 
        }
    </div>

}

